*{
   box-sizing: border-box;
   padding: 0;
}
.container{
   max-width: 100%;
   background-color: rgb(252, 252, 252);
   padding: 0;
}
.container h5, #product{
   position: relative;
   margin-left: 60px;
   top: 10px;
   padding-bottom: 30px;
}
.container #homee{
   padding: 10px;
   font-size: 18px;
   
}

/* header */
.container .header{
   display: flex;
   justify-content: space-between;
   

}
.header .user{
   display: flex;
   position: relative;
   left: -20px;
   top: 10px;
   
}
.header .user i{
   position: relative;
   top: 22px;
   left: -10px;
}
.container .head{
   background-color: white;
   padding-bottom: 10px;
}

.header input{
   color: white;
   border: none;
   border-radius: 3px;
   background-color: darkblue;
   width: 150px;
   height: 40px;
   text-align: center;
   position: relative;
   top: 5px;
   
  
}
ul{
   
   display: flex;
   justify-content: space-between;
}
ul li{
   list-style: none;
   padding: 20px;
}
ul li a{
   text-decoration: none;
   color: black;
}
.header img{
   width: 100px;
   height: 70px;
   position: relative;
   top: 10px;
}

.container .search{
   /* position: relative; */
   /* left: 770px; */
   margin-top: 5px;
   /* margin-bottom: 8px; */
   margin-left: 772px;
   margin-bottom: 8px;
   background-color: white;
}
.search button{
   padding: 8px;
   width: 100px;
   border-radius: 0 4px 4px 0;
   border-left: none;
   color: black;
   background-color:gold;
   position: relative;
   top: -1px;
   
}
.search input{
   position: relative;
   left: 10px;
   padding: 8px;
   border-radius: 4px 0 0 4px;
   border-right: none;
   width: 600px;
}
span{
   position: relative;
   left: 10px;
}
/* end of search */

/* end of header */

/* start of body */
/* end of body */

/* start of footer */
#footer{
   display: flex;
   justify-content: space-around;
   text-align: center;
   margin-bottom: 20px;
   border-bottom: 1px solid gray;
   line-height: 0.4em;
   margin-top: 50px;
   background-color: rgb(252, 252, 252);
   padding: 10px;
}
#footer ul{
   display: block;
}

/* footer */
.foot{
   position: relative;
   bottom: 0;
   text-align: center;
   margin-top: 18px;
   
 
   /* background-color: yellowgreen; */
}

/* container-2 */
.container-2{
   max-width: 100%;
   background-color: white;
   display: grid;
   grid-template-columns: 300px 600px;
   grid-template-rows: 700px;
   grid-template-areas: "first-body second-body" ;
}
.first-body{
   background-color: white;
}

/* secnod body alert */
.second-body .price-alert{
border: 2px solid lightgray;
padding: 10px;
width: 150%;
margin-left: 150px;
}
.main{
   text-align: center;
   line-height: 10px;
}
.main span{
   position: relative;
   padding: 10px;
   /* margin-left: 10px; */
   color: darkgray;
}
.main #review{
   color: gold;
}
#last{
   margin-right: 20px;
}
.price-alert img{
   width: 200px;
   height: 200px;
}

.others{
   
   margin-left: 200px;
}
.others-1{
   
   margin-left: 200px;
   margin-top: 10px;
}
.toggle{
   display: flex;
}
.toggle span{
   margin-right: 15px;
}
.toggle input{
   position: relative;
   left: 76px;
   width: 70px;
   height: 35px;
   color: white;
   background-color: gold;
   border-radius: 4px;
   padding: 4px;
}
.price-alert button{
   position: relative;
   left: 18%;
   width: 600px;
   margin-top: 30px;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 10px;
}

/* first body alert */
 .container .checkboxes label{
   display: block;
   padding: 10px;
   margin-bottom: 10px;
}

.container .checkboxes #first{
   font-size: 40px;
}